body{
    font-family: Arial;
    background:#f4f6f8;
}

.sidebar{
    width:220px;
    height:100vh;
    background:#111;
    color:#fff;
    position:fixed;
    padding:20px;
}

.sidebar a, .sidebar button{
    display:block;
    margin:10px 0;
    padding:10px;
    background:#222;
    color:white;
    text-decoration:none;
    border:none;
    cursor:pointer;
}

.content{
    margin-left:240px;
    padding:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    border:1px solid #ccc;
}

.btn{
    padding:6px 10px;
    border:none;
    cursor:pointer;
}

.edit{background:#3498db;color:white;}
.delete{background:#e74c3c;color:white;}
